{% extends 'lara_django_base/lara_base_menu.html' %}


{% block toolbar %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"> {{ section_title }} </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a href="{% url create_link %}" class="btn btn-warning btn-sm btn-outline-secondary" role="button">Add</a>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="sync"></span>
            Sync
        </button>
    </div>
</div>
{% endblock %}

{% block content %}
{% if root_projects %}
<ul>
    {% for mproj in root_projects %}
    <li>
        <a href="{% url 'lara_django_projects:project-tree' mproj.project_id %}" title={{ mproj.description }}>
            {{ mproj.title }} </a>
        <p>{{ mproj.description }} </p>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No main projects are available.</p>
{% endif %}

{% endblock %}